.footer {
    width: 100%;
    background-color: #f9f9f9;
    margin-top: 40px;
    border-radius: 30px 30px 0 0;
    padding: 20px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.col1, .col2, .col3, .col4 {
    flex: 1 1 250px;
    margin: 10px;
    padding: 14px;
}

.col1 img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

.social {
    display: flex;
    gap: 10px;
}

/* Responsive Design */
@media (max-width: 576px) {
    .footerContent {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }
    .footerContent div{
        width: 100vw;
    }
    .col1{
        width: 100vw;
        height: 80px;

    }
    .col2{
        height: 200px;
    }
    .col1 img {
        width: 150px;
        height: 60px;
    }
}
